.jumbotron {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/10/11/24/rose-320868_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
}
