nav {
    background-color: grey;
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}


span {
    margin-left: 9rem;
}

@media screen and (max-width: 600px) {
    nav {
        float: none;
        width: 100%;
    }
    a {
        justify-content: center;
    }
}